*{
	box-sizing: border-box;
}

body{
	background-color: #0f0e0e;

	margin:0;
	padding: 0;

}
header{
	padding: 20px 100px;
	background-color: black;
	border-radius: 10px;
	box-shadow: 1px 10px 40px black ;
	
}
header span{
	font-size: 100px;
	color: #d3d3d3;
	text-shadow: -6px 7px 8px #383838;
	float: left;
	font-family: MyFont;
}
main{
	margin: 50px 0;
}
.videoBox{
	border:1px solid black;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 8px 8px 10px black ;
}
.videoBox:hover{
	opacity: 0.6;
}
.burgerMenu > i{
	color: #d3d3d3;
}
.burgerMenu{
	float: right;
	cursor:pointer;
}
.burgerMenu:hover{
	opacity: 0.8;
}
.burgerMenu:hover .hideMenu{
	display: block;
}
.adsense{
	margin:40px auto;
	box-shadow: -5px -10px 40px black ;
	overflow: hidden;
	width: 40%;
}
.hideMenu{
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
}
.hideMenu > ul > li > a{
	color: white;
	font-size: 20px;
}
.hideMenu > ul > li :hover{
	background-color: #424242;
	width: 100%;
	border-radius: 5px;
}

footer{
	padding: 20px 100px;
	background-color: black;
	border-radius: 10px;
	box-shadow: -1px -10px 40px black ;
	text-align: center;
	overflow: hidden;
}


@font-face {
    font-family: MyFont;
    src: url(../font/LombardinaInitialOne.ttf);
}
.hidee{
	display: none;
}